body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #2D0D63;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.intro::after {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  content: '';
  z-index: -1;
  -webkit-animation: zoomIn 15s forwards linear;
          animation: zoomIn 15s forwards linear;
}

.intro h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 24px 16px;
  animation: zoomIn 20s reverse ease-in-out;
}

.intro button {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 16px;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.current-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  -webkit-animation: fadeIn .3s ease;
          animation: fadeIn .3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.btn-show-list {
  position: fixed;
  bottom: 24px;
  right: 24px;
  margin-left: -28px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  border: none;
  z-index: 9;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.btn-show-list::after {
  position: absolute;
  height: 7px;
  border-bottom: 2px solid white;
  content: '';
  width: 28px;
  margin-left: -14px;
  bottom: 50%;
  margin-bottom: -10px;
}

.btn-show-list::before {
  position: absolute;
  height: 7px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  content: '';
  width: 28px;
  top: 50%;
  margin-top: -10px;
  margin-left: -14px;
}

.play-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.play-list.show {
  opacity: 1;
  z-index: 20;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.play-list .container {
  max-height: 100%;
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 72px 8px 0 8px;
  position: relative;
}

.play-list .container .header {
  position: fixed;
  z-index: 10;
  height: 56px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 16px;
}

.play-list .container .header h4 {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.play-list .container .header button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.play-list .container .header button::after {
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  position: absolute;
  border: none;
  content: '+';
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
  color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.play-list .item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
}

.play-list .item .item-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 8px 16px 8px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.play-list .item .cover {
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  width: 100%;
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.play-list .item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.play-list .item .title h3 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.play-list .item:hover .cover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.breath-container {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

.breath-container::after {
  width: 136px;
  height: 136px;
  position: absolute;
  content: '';
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breath-container .pointer {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}

.breath-container .pointer::after {
  width: 10px;
  height: 10px;
  position: absolute;
  content: '';
  background-color: red;
  top: -5px;
  left: calc( 50% - 5px);
  border-radius: 50%;
  z-index: 20;
}

.breath-container .breath-points {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.breath-container .breath-points span {
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.breath-container .breath-points .start {
  top: -5px;
  left: 50%;
  margin-left: -5px;
}

.breath-container .breath-points .hold {
  top: 37%;
  right: -4px;
}

.breath-container .breath-points .out {
  left: 22%;
  bottom: 5px;
}

.breath-container.show {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.play-button {
  width: 64px;
  height: 64px;
  background-color: #222222;
  z-index: 15;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.play-button svg {
  opacity: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.play-button::after {
  position: absolute;
  border-left: 20px solid white;
  border-top: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid transparent;
  content: '';
  top: 18px;
  left: 24px;
}

.play-button::before {
  width: 28px;
  height: 28px;
  position: absolute;
  border-top: 3px solid white;
  border-right: 3px solid transparent;
  border-bottom: 3px solid white;
  border-left: 3px solid transparent;
  content: '';
  border-radius: 50%;
  left: 16px;
  top: 16px;
  display: none;
}

.play-button.playing {
  position: fixed !important;
  bottom: 100px;
  left: 50%;
  margin-left: -28px;
  width: 56px;
  height: 56px;
  -webkit-animation: playing .6s ease;
          animation: playing .6s ease;
}

.play-button.playing::after {
  width: 18px;
  height: 18px;
  border: none;
  background-color: white;
  top: 19px;
  left: 19px;
  border-radius: 2px;
}

.play-button.playing::before {
  display: none;
}

.play-button.playing svg {
  opacity: 1;
}

.play-button.loading::after {
  display: none;
}

.play-button.loading::before {
  display: block;
  -webkit-animation: loading 1s linear forwards infinite;
          animation: loading 1s linear forwards infinite;
}

.breath-animation {
  -webkit-animation: breath 19s linear forwards  infinite;
          animation: breath 19s linear forwards  infinite;
}

.breath-animation::after {
  -webkit-animation: breathText 19s linear forwards  infinite;
          animation: breathText 19s linear forwards  infinite;
}

.rotate-pointer {
  -webkit-animation: rotate 19s linear forwards  infinite;
          animation: rotate 19s linear forwards  infinite;
}

@media (min-width: 600px) {
  .play-list .container {
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .play-list .container::-webkit-scrollbar {
    width: 3px;
  }
  .play-list .container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }
  .play-list .container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
  .play-list .container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .play-list .item {
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
  }
  .play-list .item .title h3 {
    font-size: 16px;
  }
}

@media (min-width: 959.99px) {
  .play-list .item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .play-list .item .title {
    padding: 16px;
  }
  .play-list .item .title h3 {
    font-size: 18px;
  }
}

@media (min-width: 1169.99px) {
  .play-list {
    padding: 16px 0;
  }
  .play-list .container .header {
    max-width: calc(1170px - 64px);
    top: 16px;
    margin: 0 auto;
    border-radius: 10px;
  }
  .play-list .item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  21% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  57% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  21% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  57% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes breathText {
  0% {
    background-color: #00A8F4;
    content: 'Breath IN';
  }
  21% {
    content: 'Breath IN';
    background-color: #7B4DFF;
  }
  22% {
    content: 'HOLD';
    -webkit-box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.4), inset -10px 10px 60px rgba(255, 0, 0, 0.4);
            box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.4), inset -10px 10px 60px rgba(255, 0, 0, 0.4);
  }
  58% {
    content: 'HOLD';
    background-color: #E53834;
    -webkit-box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.9), inset -10px 10px 60px rgba(255, 0, 0, 0.9);
            box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.9), inset -10px 10px 60px rgba(255, 0, 0, 0.9);
  }
  59% {
    content: 'Breath OUT';
  }
  100% {
    content: 'Breath OUT';
    background-color: #00A8F4;
  }
}

@keyframes breathText {
  0% {
    background-color: #00A8F4;
    content: 'Breath IN';
  }
  21% {
    content: 'Breath IN';
    background-color: #7B4DFF;
  }
  22% {
    content: 'HOLD';
    -webkit-box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.4), inset -10px 10px 60px rgba(255, 0, 0, 0.4);
            box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.4), inset -10px 10px 60px rgba(255, 0, 0, 0.4);
  }
  58% {
    content: 'HOLD';
    background-color: #E53834;
    -webkit-box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.9), inset -10px 10px 60px rgba(255, 0, 0, 0.9);
            box-shadow: inset 10px -10px 60px rgba(255, 0, 0, 0.9), inset -10px 10px 60px rgba(255, 0, 0, 0.9);
  }
  59% {
    content: 'Breath OUT';
  }
  100% {
    content: 'Breath OUT';
    background-color: #00A8F4;
  }
}

@-webkit-keyframes playing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 100px;
  }
}

@keyframes playing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 100px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fadeOut 1.5s ease;
          animation: fadeOut 1.5s ease;
}

.fade-in {
  -webkit-animation: fadeIn .4s ease;
          animation: fadeIn .4s ease;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
/*# sourceMappingURL=style.css.map */